@model Otv.Models.LoginModel
@{
    Layout = "~/Views/Shared/_FontLayout.cshtml";
}
@{
    ViewBag.Title = "修改密码成功";
}
<div class="N-wp">
    <div class="N-top">
        <div class="N-topc">
            <ul class="N-top-nav" bk="top_nav">
                <li>@Html.ActionLink("欢迎登陆OTV管理系统", "Login")</li>
            </ul>
            <div class="N-topr">
                <div class="calendar">
                    <span class="calendar-day"></span>
                    <span class="calendar-week"></span>
                </div><!--end calendar-->
            </div>
        </div><!--end N-topc-->
    </div><!--end N-top-->
    <div class="U-w886">
        
        <h2>@ViewBag.Msg，请重新 @Html.ActionLink("登录", "Login", "Account") </h2>
    </div><!--end N-ft-->
</div><!--end N-wp-->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
